-f https://download.pytorch.org/whl/torch_stable.html
gdown
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
numpy
packaging==20.9
pandas
Pillow
pyparsing
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.44
six==1.15.0
tokenizers==0.10.2
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm
transformers==3.0.2
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
camel-tools==1.1.0  
