{% extends "base.html" %} {% block body %}

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Arabic NER</a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarCollapse"
    >
      <div class="navbar-nav ml-auto">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/about" class="nav-item nav-link">About</a>
        <a href="/service" class="nav-item nav-link">Service</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Bar End -->

<!--faq start -->
<div class="about mt-120">
  <div class="container">
    <br />
    <br />
    <br />
    <br />

    <div class="panel-group" id="accordion">
      <div class="h2">Frequently Asked Questions</div>
      <br />
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              class="accordion-toggle"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
              >Is account registration required?</a
            >
          </h4>
        </div>

        <br/>
        <div class="panel-body">
          No, account registration isn't required. The website is available for everone to try out!
        </div>
      </div>
      <br/>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              class="accordion-toggle"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
              >Can you enter Arabic and Franco text mixed at the same time?</a
            >
          </h4>
        </div>

        <br/>

        <div class="panel-body">
          Yes, In fact, You can enter Arabic text or Franco or you can type both at once!
        </div>
      </div>
      <br />
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              class="accordion-toggle"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseOne"
              >How many entities do we support?</a
            >
          </h4>
        </div>
        <br/>
        <div >
          <p>We support 50 entities.</p> 
        </div>
      </div>

      
    </div>
  </div>
</div>

<!-- faq end -->

{% endblock %}
