{% extends "base.html" %} {% block body %}

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Arabic NER</a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarCollapse"
    >
      <div class="navbar-nav ml-auto">
        <a href="/" class="nav-item nav-link">Home</a>
        <a href="/about" class="nav-item nav-link">About</a>
        <a href="/service" class="nav-item nav-link">Service</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
    </div>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/robotblue.jpg" alt="Image"/>
                </div>
                <div class="carousel-text">
                    <h1>Excellent solution to ANER</h1>

                    <div class="carousel-btn">
                        <a class="btn" href="/service"
                        ><i class="fa fa-link"></i>Get Started</a
                        >
                        <a
                                class="btn btn-play"
                                data-toggle="modal"
                                data-src="#"
                                data-target="#videoModal"
                        ><i class="fa fa-play"></i>Watch Video</a
                        >
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/study.jpg" alt="Image"/>
                </div>
                <div class="carousel-text">
                    <h1>Strong Support For Franco!</h1>

                    <div class="carousel-btn">
                        <a class="btn" href="/service"><i class="fa fa-link"></i>Get Started</a>
                        <a
                                class="btn btn-play"
                                data-toggle="modal"
                                data-src="#"
                                data-target="#videoModal"
                        ><i class="fa fa-play"></i>Watch Video</a
                        >
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/mac.jpg" alt="Image"/>
                </div>
                <div class="carousel-text">
                    <h1>Support for two models!</h1>
                    

                    <div class="carousel-btn">
                        <a class="btn" href="service.html"><i class="fa fa-link"></i>Get Started</a>
                        <a
                                class="btn btn-play"
                                data-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                                data-target="#videoModal"
                        ><i class="fa fa-play"></i>Watch Video</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Video Modal Start-->
<div
        class="modal fade"
        id="videoModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                            class="embed-responsive-item"
                            src=""
                            id="video"
                            allowscriptaccess="always"
                            allow="autoplay"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- Fact Start -->
<div class="fact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="static/img/icon-4.png" alt="Icon"/>
                    <h2>Qualified Team</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="static/img/icon-1.png" alt="Icon"/>
                    <h2>Individual Approach</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="static/img/icon-8.png" alt="Icon"/>
                    <h2>Great Success</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="fact-item">
                    <img src="static/img/icon-6.png" alt="Icon"/>
                    <h2>Great Satisfaction</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact end -->



{% endblock %}